<div>
    <form name="indexForm">
        <h2>Registrierte Dienste</h2>
        <div class="registry-card-panel">
            <mat-card *ngFor="let registry of registries" class="registry-card">
                <mat-card-header>
                    {{registry.serviceName}} ({{registry.id}})
                </mat-card-header>
                <mat-card-content>
                    <div>Created At: {{registry.createdAt | date}}</div>
                    <div>Status: {{registry.registryStatus}}</div>
                    <div>{{registry.serviceShortDescription}}</div>
                </mat-card-content>
                <mat-card-footer>
                    <div><a routerLink="/service/{{registry.serviceId}}">{{ "SERVICE_DESCRIPTION" | translate }}</a></div>
                </mat-card-footer>
            </mat-card>
        </div>
        <h2>Buchbare Dienste</h2>
        <div class="registry-card-panel">
            <mat-card *ngFor="let service of availableServices" class="registry-card">
                <mat-card-header>
                    {{service.name}} ({{service.id}})
                </mat-card-header>
                <mat-card-content>
                    <div>{{service.shortDescription}}</div>
                </mat-card-content>
                <mat-card-footer>
                    <div><a routerLink="/register/{{service.id}}">{{ "REGISTER" | translate }}</a></div>
                </mat-card-footer>
            </mat-card>
        </div>
    </form>
</div>