<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    Index to {{title}}!
</div>
<div>
    <form name="indexForm">
        <h2>Registrierte Dienste</h2>
        <div class="registry-card-panel">
            <md-card *ngFor="let registry of registries" class="registry-card">
                <md-card-header>
                    {{registry.serviceName}} ({{registry.id}})
                </md-card-header>
                <md-card-content>
                    <div>Created At: {{registry.createdAt | date}}</div>
                    <div>Status: {{registry.registryStatus}}</div>
                    <div>{{registry.serviceShortDescription}}</div>
                </md-card-content>                        
            </md-card>
        </div>
        <h2>Buchbare Dienste</h2>
        <md-form-field>
        </md-form-field>
    </form>
</div>