<div>
    <form name="loginForm">
        <mat-form-field>
            <mat-card *ngFor="let authMech of authMechs">
                <mat-card-header>
                    {{authMech.displayName}} ({{authMech.name}})
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="authMech.type == 'SamlAuthMech'">
                        Hello Test! {{authMech.federationId}} {{authMech.federation?.entityId}}
                        <mat-form-field>
                            <input type="text" mdInput [formControl]="myControl" [matAutocomplete]="auto">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let idp of authMech.federation?.filteredIdpList | async" [value]="idp.displayName" (onSelectionChange)="select(idp, authMech)">
                                {{ idp.displayName }}
                            </mat-option>
                        </mat-autocomplete>
                        <button mat-button type="submit" id="submit-{{authMech.id}}" class="btn btn-success" (click)="login(authMech)">Shibboleth Login</button>
                    </div>
                    <div *ngIf="authMech.type == 'LocalUPAuthMech'">
                        <div *ngIf="authMech.error">
                            {{authMech.errorDetail}}
                        </div>

                        <div class="form-group">
                            <label for="name-{{authMech.id}}">Username</label>
                            <input type="text" class="form-control" id="username-{{authMech.id}}" name="username-{{authMech.id}}" required [(ngModel)]="authMech.username">
                        </div>

                        <div class="form-group">
                            <label for="password-{{authMech.id}}">Password</label>
                            <input type="password" class="form-control" id="password-{{authMech.id}}" name="password-{{authMech.id}}" [(ngModel)]="authMech.password">
                        </div>

                        <button mat-button type="submit" id="submit-{{authMech.id}}" class="btn btn-success" (click)="login(authMech)">Submit</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-form-field>
    </form>
</div>